// HOME SECTION
.home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .home-section-background {
        position: absolute;
        /* or absolute if inside another container */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        /* keeps it behind content */
        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100vw;
            height: 56.25vw;
            /* 16:9 aspect ratio (9/16 = 0.5625) */
            min-width: 177.78vh;
            /* (16/9 * 100vh) ensures full height */
            min-height: 100vh;
            transform: translate(-50%, -50%);
            pointer-events: none;
            border: none;
        }
    }

    .contact-no {
        position: absolute;
        top: 1rem;
        right: 3rem;
        z-index: 3;

        a {
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #d3d3d3;
            i {
                 font-size: 24px;
            }

            &:hover {
                color: #fff;
               span {
                 text-decoration: underline;
               }
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: hsl(0deg 0% 0% / 65%);
    }

    .home-section-content {
        z-index: 2;
        color: #fff;
        position: relative;
        text-align: center;

        h1 {
            font-size: 46px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
}

// MOBILE VIEW MEDIA QUERY
@media screen and (max-width: 480px) {
    .home-section {
        height: 62vh;

        .home-section-content {
            h1 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}