// HOME SECTION
.home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: hsl(0deg 0% 0% / 65%);
    }

    .home-section-content {
        z-index: 2;
        color: #fff;
        position: relative;
        text-align: center;

        h1 {
            font-size: 46px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        p {
            color: rgb(226, 232, 240);
            font-size: 18px;
            margin-bottom: 25px;
        }

    }

    .home-section-content-link {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 4rem;
        left: 0;
        right: 0;
        z-index: 4;
        padding: 40px 0;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        text-align: center;

        h4 {
            color: rgb(226, 232, 240);
            font-size: 14px;
            margin-bottom: 10px;
            letter-spacing: .01em;
        }

        a {
            padding: 6px 12px;
            font-size: 14px;
            display: inline-block;
            color: rgb(226, 232, 240);
            transition: all 0.1s linear;

            &:hover {
                color: #fff;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }
        }
    }
}

// SECOND HOME LUXURY LIVING
.second-home-section {
    padding: 8rem 0;
    position: relative;
    background-color: #fff;

    .second-home-content {
        p {
            font-size: 22px;
            text-align: center;
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 16px;
            text-align: center;
            margin-bottom: 2rem;
        }

        .second-home-content-info {
            h6 {
                font-size: 14px;
                text-decoration: underline;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }

    .second-home-card {
        border: 1px solid #eee;
        position: relative;
        height: 100%;

        .second-home-card-img {
            overflow: hidden;

            img {
                width: 100%;
                height: 400px;
                transition: 0.3s;
                -webkit-transition: 0.3s;
            }
        }

        .second-home-card-content {
            h2 {
                font-size: 20px;
                font-weight: 700;
                color: #000;
                margin-bottom: 10px;
            }

            p {
                color: #5c5c5c;
                font-size: 14px;
            }
        }

        &:hover {
            .second-home-card-img {
                img {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                }
            }
        }
    }
}

// DXB - DUBAI INVESTMENTS SECTION
.dxb-investments-section {
    padding: 8rem 0;
    position: relative;
    background-color: #f8f9fa;

    .dxb-investments-content {
        p {
            font-size: 22px;
            text-align: center;
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 16px;
            text-align: center;
            margin-bottom: 2rem;
        }

        .dxb-investments-content-info {
            h6 {
                font-size: 14px;
                text-decoration: underline;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }


}

.second-content-footer {
    text-align: center;
    overflow: hidden;
    margin-top: 5rem;

    h4 {
        font-size: 16px;
        position: relative;
        margin-bottom: 2rem;

        &::after {
            content: "";
            width: 4rem;
            height: 2px;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            background-color: #1f5dff;
        }
    }

    .content-footer-link {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;

        a,
        button {
            font-size: 16px;
            color: #606060;

            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
}

// MOBILE VIEW MEDIA QUERY
@media screen and (max-width: 480px) {
    .home-section {
        height: 100vh;
        display: block;
        padding-top: 12rem;

        .home-section-content {
            h1 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }

        .home-section-content-link {
            display: block;

            .content-link-box {
                margin-bottom: 20px;

                h4 {
                    margin-bottom: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    // 
    .second-home-section {
        .second-home-content {
            p {
                font-size: 14px;
            }

            h4 {
                margin-bottom: 3rem;
            }

            .second-home-content-info h6 {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    // 
    .dxb-investments-section {
        .dxb-investments-content {
            p {
                font-size: 14px;
            }

            h4 {
                margin-bottom: 3rem;
            }

            .dxb-investments-content-info {
                h6 {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    // 
    .second-content-footer {
        .content-footer-link {
            gap: 10px;

            a {
                font-size: 12px;
            }
        }
    }
}