// INVESTMENT EXPLORE SECTION
.investment-explore-section {
    padding: 8rem 0;

    .investment-explore-tabs {
        .investment-tabs-header {
            .nav {
                justify-content: center;
                gap: 20px;

                .nav-item {
                    a {
                        padding: 10px 45px;
                        border: 1px solid #ddd;
                        color: #333;
                        border-radius: 0;
                        position: relative;
                        font-size: 14px;
                        text-transform: uppercase;

                        &.active {
                            border: 1px solid #141414;
                            border-radius: 0;
                            background-color: #141414;
                            color: #fff;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 42%;
                                border-top: 15px solid #141414;
                                border-left: 15px solid transparent;
                                border-right: 15px solid transparent;
                                -webkit-transition: all 0.4s ease 0s;
                                -moz-transition: all 0.4s ease 0s;
                                -o-transition: all 0.4s ease 0s;
                                transition: all 0.4s ease 0s;
                            }
                        }
                    }
                }
            }
        }
    }
}

// FREQUENTLY ASKED QUESTION
.frequently-asked-questions {
    li {
        display: block;
        padding: 12px 0;
        border-bottom: 1px solid #f6f3f4;

        &:last-child {
            border-bottom: 0;
        }

        h6 {
            color: #727272;
        }
    }
}

// READY TO INVEST LOCATION
.ready-to-invest-location {
    padding: 50px 0 0 0;

    .ready-to-invest-header {
        text-align: center;
        margin-bottom: 24px;

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }
    }

    .ready-to-invest-bttn {
        display: flex;
        gap: 10px;
        justify-content: center;

        button {
            padding: 8px 24px;
            border-radius: 3px;
        }
    }
}

// MOBILE VIEW MEDIA QUERY
@media screen and (max-width: 480px) {
    // INVESTMENT EXPLORE SECTION
    .investment-explore-section {
        padding: 5rem 0;
    }

    // READY TO INVEST LOCATION
    .ready-to-invest-location {
        .ready-to-invest-bttn {
            flex-wrap: wrap;
            justify-content: center;

            button {
                width: 100%;
                justify-content: center;
            }
        }
    }
}