.infrastructure-dependencies {
    padding: 12px;
    border: 1px solid #ebe6e7;
    background-color: #fbf9fa;

    h4 {
        font-size: 12px;
        margin-bottom: 8px;
    }

    ul {
        padding-left: 14px;

        li {
            font-size: 12px;
        }
    }
}