header {
    position: absolute;
    top: 1rem;
    z-index: 99;
    left: 0;
    right: 0;
    padding: 10px 50px 10px 10px;
    text-align: right;

    a {
        font-size: 18px;
        color: #d3d3d3;
        display: inline-block;

        i {
            font-size: 24px;
        }

        &:hover {
            color: #fff;

            span {
                text-decoration: underline;
            }
        }
    }
}

// MOBILE VIEW MEDIA QUERY
@media screen and (max-width: 480px) {
    header {
        padding: 10px;
        text-align: center;

        a {
            font-size: 14px;

            i {
                font-size: 16px;
            }
        }
    }
}